.title {
    height: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid silver;
}

.title>div {
    border-right: 1px solid silver;
    width: calc(100%/7);
    text-align: center;
    font-size: 12px;
}
.title>div:last-child{
    border: none;
}

.habitsContainer {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.habitsContainer::-webkit-scrollbar {
    display: none;
}

.container {
    min-height: 50px;
    width: 100%;
    border-bottom: 1px solid silver;
    margin: 3px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(59, 59, 59);
}

.habitDetail {
    padding: 0 10px;
    width: 100%;

}

.habitDetail>h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    text-align: start;
}

.weeklyDetail {
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.weeklyDetail>div {
    border: 1px solid silver;
    width: calc(100%/7);
    text-align: center;
    font-size: 12px;
    user-select: none;
}